header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
    text-align: center;
}

.photo{
    justify-self: right;
    margin: 5px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-width: medium;
    border-style: solid;
    border-color: #DDBEAA;
}

.with-contacts{
    width: 75%;
    justify-self: left;
    background-color: #DDBEAA;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 200%;
}

.collapsible {
    background-color: #469597;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left
    outline: none;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
}

.active, .collapsible:hover {
    background-color: #BBC6C8;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.skillbar_container {
    width: 300px;
    height=50%;
    background-color: #ddd;
}

.skills {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.html {
    width: 68%;
    background-color: #04AA6D;
    font-size: 20px;
}

.css {
    width: 78%;
    background-color: #2196F3;
    font-size: 20px;
}

.js {width: 50%;
    background-color: #f44336;
    font-size:20px;
}

.python {width: 65%;
    background-color: #808080;
    font-size: 20px;
}

div dl dt{
    font-size: 30px;
    font-weight: bold;
}

main p{
    font-size: 20px;
}

.collapsible_container dd{
    font-size: 25px;
}

li{
    font-size: 20px;
}

